<div class="contact-section">
    <img src="assets/img/PartnersLogo.png" class="img-fluid" alt="logo">
</div>

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/img/BainesCredit2.png" class="img-fluid" alt="logo">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><img src="assets/img/apple.png" class="img-fluid" /></div>
                        <div class="col-md-6"><img src="assets/img/google.png" class="img-fluid" /></div>
                    </div>
                    <div class="row" style="margin-top: 20px !important;">
                        
                    <div class="footer-socialn">
                        <a href="#" target="_blank"><i class="icofont-facebook" style="color: white; font-size: x-large;"></i></a> &nbsp;
                        <a href="#" target="_blank"><i class="icofont-twitter" style="color: white; font-size: x-large;"></i></a>&nbsp;
                        <a href="#" target="_blank"><i class="icofont-linkedin" style="color: white; font-size: x-large;"></i></a>&nbsp;
                        <a href="#" target="_blank"><i class="icofont-instagram" style="color: white; font-size: x-large;"></i></a>&nbsp;
                       <!-- <ul>
                            <li><a href="#" target="_blank"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icofont-linkedin"></i></a></li>             
                            <li><a href="#" target="_blank"><i class="icofont-instagram"></i></a></li>
                        </ul>-->
                    </div></div>
                    <div class="email">
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3 style="border: none !important;">Services</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="#">Internet Banking</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="#">Fund your Account</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="#">Access Loans</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="#">Open an Account</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="#">Loan Calculator</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-40">
                    <h3 style="border: none !important;">Quick Links</h3>

                    <ul>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/index">Services</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/about">About Us</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/blog">Contact</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/team">Events</a></li>
                        <li><i class="icofont-simple-right"></i> <a routerLink="/testimonial">Resources</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 style="border: none !important;">Find Us</h3>
                   

                    <ul class="find-us">
                        <li>                                   
                            <i class="icofont-location-pin"></i> 22, Norman Williams Street, SouthWest Ikoyi    
                        </li>
                        <li>
                            <i class="icofont-phone"></i>
                            <a href="tel:+880123456789">+2349031111888</a>
                        </li>
                        <li>
                            <i class="icofont-ui-message"></i>
                            <a href="mailto:info@kiaz.com">info@bainescredit.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row  align-items-center">
               

                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="copyright-text text-end">
                        <p>&copy;2022 Baines Credit Microfinance Bank. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="top-btn">
    <i class="icofont-scroll-long-up"></i>
</div>